root.turnstometers = 0.34
root.workingDir = /home/comcon1/.libdaq

curves.r0.color = #000000
curves.r1.color = #ff0000
curves.r2.color = #00ff00
curves.r3.color = #0000ff
curves.r4.color = #ffff00
curves.r5.color = #ff00ff
curves.r6.color = #00ffff
curves.r7.color = #990000
curves.r8.color = #009900
curves.r9.color = #000099
curves.r10.color = #999900
curves.r11.color = #990099
curves.r12.color = #009999
curves.r13.color = #999999
curves.r14.color = #9900ff

download.legendwidth = 1.5
download.csvdtfmt = %d.%m.%y %H:%M:%S
download.defcsvunits = meters

default.experiment.daystart = 9:00
default.experiment.morning = 9:00
default.experiment.evening = 21:00

daynight.day.bar.facecolor = #0000ff
daynight.light.bar.facecolor = #ff0000
daynight.night.bar.facecolor = #772200

daq.workingModeImitate = 1
daq.deviceFile = dfi02.xvg
daq.aqPeriod = 30
